body{
				margin: 0px;
}

.Home{
				background-image: url('background.jpg');
				background-size: cover;
				height: 100vh;
				
}

.nav{
				height: 50px;
				background: #5477f2;
}

.nav div{
				display: inline-block;
				position: absolute;
				left: 0;
				padding: 15px;
				font-size: 20px;
				color: white;
}
.nav ul{
			position: absolute;	
			right: 5px;
	
}
.nav ul li{
				display: inline-block;
			
}
.nav ul li a{
				color: white;
				padding: 5px;
				text-decoration: none;
}
.Home .text-container{
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 90vh;		
				font-size:24px;			
}
.about-content{
				margin: 150px auto 0 auto;
				width: 500px;
}
.about-content h1{
				text-align: center;
				font-family: 'Roboto', sans-serif;
				color: red;
}
.about-content p{
				text-align: justify;
				font-family: 'Lato', sans-serif;
				color: green;
}
.service-content{
				margin: 80px auto 0 auto;
				width: 500px;
			
}
.service-content h1{
				text-align: center;
				font-family: 'Roboto', sans-serif;
				color: red;
.service-content ul{
				padding: 0;
}			
.service-content ul li{
				list-style: none;
				display: inline-block;
				margin: 20px;
				width: 300px;
				
}
.service-content ul li p{
				text-align: justify;
				

}


				
					
				
